<br>
<br>
<br>
<br>
<br>


<div class="register-container">
    <div *ngIf="showSuccess" class="success-message">
        ¡Inicio de sesión exitoso!
    </div>
    
    <div *ngIf="loginError" class="error-message">
        {{ loginError }}
    </div>
    
    <form [formGroup]="loginUsuario" (ngSubmit)="onSubmit()" class="register-form">
        <h1>Iniciar Sesión</h1>
        
        <div class="form-group">
            <label for="email">Email*</label>
            <input 
                type="email" 
                id="email" 
                formControlName="email"
                [ngClass]="{'is-invalid': submitted && loginUsuario.get('email')?.errors}"
                placeholder="correo@ejemplo.com"
            >
            <div class="error-message" *ngIf="submitted && loginUsuario.get('email')?.errors">
                {{ getErrorMessage('email') }}
            </div>
        </div>
    
        <div class="form-group">
            <label for="contrasena">Contraseña*</label>
            <input 
                type="password" 
                id="contrasena" 
                formControlName="contrasena"
                [ngClass]="{'is-invalid': submitted && loginUsuario.get('contrasena')?.errors}"
                placeholder="Ingrese su contraseña"
            >
            <div class="error-message" *ngIf="submitted && loginUsuario.get('contrasena')?.errors">
                {{ getErrorMessage('contrasena') }}
            </div>
        </div>
    
        <div class="form-buttons">
            <button 
                type="submit" 
                class="btn-registrar" 
                [disabled]="isLoading"
            >
                <span *ngIf="!isLoading">Iniciar sesión</span>
                <span *ngIf="isLoading">Cargando...</span>
            </button>
           
        </div>
        <div class="nav-links">
        <a href="/recuperar-contrasena" routerLinkActive="active">recuperar contraseña</a>
        </div>
    </form>
  </div>