body {
    margin: 0;
    padding-top: 72px; 
    font-family: Arial, sans-serif;
    background-image: url("/assets/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }