<br>
<br>
<br>
<br>

<div *ngIf="product" class="product-detail">
    <h1>{{ product.name }}</h1>
    <img [src]="product.imageUrl" [alt]="product.name" />
    <p>{{ product.description }}</p>
    <p><strong>Precio:</strong> {{ product.price }}</p>
    <p><strong>Rating:</strong> {{ product.rating }}</p>
  
    <h2>Deja tu reseña</h2>
    <textarea #messageInput placeholder="Write your review..."></textarea>
    <button (click)="addMessage(messageInput.value); messageInput.value = ''">
      Postear
    </button>
  
    <h2>Reseña</h2>
    <div *ngFor="let msg of messages" class="review">
      <p>{{ msg }}</p>
    </div>
  </div>
  